<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="../assets/sass/noscript.scss" />
    </noscript>
    <title>Login Page</title>
</head>

<body>

    <div id="wrapper">
        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner w-50">
                <h1>Login Page</h1>
                <form action="/login" enctype="application/x-www-form-urlencoded" method="post">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Username</label>
                            <input type="text" name="username" placeholder="username" />
                        </div>
                        <div class="field half">
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="password" />
                        </div>
                    </div>
                    <button type="submit">Send</button>
                </form>
            </div>
        </section>

    </div>

</body>

</html>